
<div fxLayout='column' fxFlex='100'>
<mat-toolbar>
    <span>Stagger</span>
</mat-toolbar>


<div fxLayoutAlign='row' fxLayoutAlign='center center' class='animation-section__background push-10 push-top-30'>

<div fxFlex='60'>

  <h2 class='mat-headline'>Static Data</h2>
  <mat-card>
<mat-card-title>
  Popular Subreddits
</mat-card-title>
<mat-card-subtitle>
  The latest trending reddits
</mat-card-subtitle>
<mat-divider></mat-divider>

<mat-card-content>
    <mat-list>
      <ng-template ngFor let-item [ngForOf]="staticSubreddits" >
        <mat-list-item>
            {{item}}
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-template>
    </mat-list>
  </mat-card-content>

    <mat-card-actions>
      <button mat-button color='accent' (click)='reloadStaticSubreddits()'>RELOAD</button>
    </mat-card-actions>
  </mat-card>

  <h2 class='mat-headline push-top-40'>Async Data</h2>
  <mat-card class='push-bottom-45'>
<mat-card-title>
  Popular Subreddits
</mat-card-title>
<mat-card-subtitle>
  The latest trending reddits
</mat-card-subtitle>
<mat-divider></mat-divider>

<mat-card-content>
    <mat-list>
      <ng-template ngFor let-item [ngForOf]="asyncSubreddits" >
        <mat-list-item>
            {{item}}
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-template>
    </mat-list>
  </mat-card-content>

    <mat-card-actions>
      <button mat-button color='accent'  (click)='reloadAsyncSubreddits()'>RELOAD</button>
    </mat-card-actions>
  </mat-card>
  </div>



</div>

</div>
