<mat-toolbar color='primary' mode='over' class='mat-elevation-z1 fixed-header'>
    <button mat-icon-button (click)='sidenav.toggle()'>
        <mat-icon class="mat-18">menu</mat-icon>
    </button>
     <a class='text-nodecoration tc-grey typg-mono tw-400 push-left-10' fxLayout='row'>
       <span fxHide fxShow.gt-sm class='push-right-10 typg-mono'>ANGULAR</span>
       ANIMATIONS
       </a>

      <span fxFlex></span>
      <a target='_blank' href="https://github.com/philgetz/try-angular-animations" mat-button>
        <span class='tw-100 mat-subhead'>GITHUB</span>
      </a>
   </mat-toolbar>

<mat-sidenav-container fullscreen class='sidenav-container'>

    <mat-sidenav opened='false' #sidenav>
      <mat-toolbar color='primary'>
          <span class='tw-400 typg-mono'>ANIMATIONS</span>
          <span fxFlex></span>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/']" (click)='sidenav.toggle()'>
          <mat-icon class='push-right-15 push-left-5 tc-grey-700'>dashboard</mat-icon>
         <span class='tc-grey-800'>Overview</span>
        </a>
        <mat-divider></mat-divider>
        <ng-template ngFor let-category [ngForOf]='routes'>
            <h3 matSubheader>{{category.categoryName}}</h3>
            <a *ngFor='let item of category.routes' mat-list-item [routerLink]="item.route" (click)='sidenav.toggle()'>
                <mat-icon class='push-right-15 push-left-5 tc-grey-700'>grain</mat-icon>
              <span class='tc-grey-800'>{{item.name}}</span>
            </a>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>

            <router-outlet></router-outlet>

  </mat-sidenav-container>
