<mat-sidenav-container fullscreen class='sidenav-container'>
    <mat-sidenav opened='false' #sidenav>
      <mat-toolbar color='primary'>
          <span>Animations</span>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/']" (click)='sidenav.toggle()'>
          <mat-icon class='push-right-15 push-left-5 tc-grey-700'>dashboard</mat-icon>
         <span class='tc-grey-800'>Overview</span>
        </a>
        <mat-divider></mat-divider>
        <ng-template ngFor let-category [ngForOf]='routes'>
            <h3 matSubheader>{{category.categoryName}}</h3>
            <a *ngFor='let item of category.routes' mat-list-item [routerLink]="item.route" (click)='sidenav.toggle()'>
                <mat-icon class='push-right-15 push-left-5 tc-grey-700'>grain</mat-icon>
              <span class='tc-grey-800'>{{item.name}}</span>
            </a>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color='primary' class='mat-elevation-z1 fixed-header'>
        <button mat-icon-button (click)='sidenav.toggle()'>
            <mat-icon class="mat-18">menu</mat-icon>
        </button>
         <span>Angular Animations</span>
       </mat-toolbar>

       <section>


            <router-outlet></router-outlet>

    </section>
  </mat-sidenav-container>
