<mat-sidenav-container fullscreen class='sidenav-container'>
    <mat-sidenav opened='false' #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/']" (click)='sidenav.toggle()'>Home</a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['/stagger']" (click)='sidenav.toggle()'>Stagger</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color='primary' class='mat-elevation-z1 fixed-header'>
        <button mat-icon-button (click)='sidenav.toggle()'>
            <mat-icon class="mat-18">menu</mat-icon>
        </button>
         <span>Animations</span>
       </mat-toolbar>

       <section>
        <div class='pad-xs'>

            <router-outlet></router-outlet>
            </div>
    </section>
  </mat-sidenav-container>


