/* You can add global styles to this file, and also import other style files */
// Angular Material Functions and Mixins
@import '~@angular/material/theming';

// Theme Colors
@import 'theme.scss';

// Utility Imports
@import 'utility-styles/_colors.scss';
@import 'utility-styles/_utilities.scss';

// Custom Styles

.typg-mono {
  font-family: Roboto Mono !important;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  height: 100%;
}
body {
  margin: 0;
  background-color: rgb(236, 236, 236);
}

.pad-xs {
  padding: 5px;
}

.header-icon {
  font-size: 45pt;
}

.home-banner {
  position: relative;
  margin: auto;
  img {
    position: absolute;
    left: -205px;
    top: -35px;
    box-shadow: 1px 9px 24px rgba(86, 25, 86, 0.46);
  }
  @media all and(max-width: 600px) {
    img {
      left: -155px;
      top: -30px;
    }
  }
}

.max-page-width {
  max-width: 1180px;
}

.width-100 {
  width: 100%;
}

.text-nodecoration {
  text-decoration: none;
}
